@import url(_reset.css);
@import url(_variables.css);
@import url(../components/_tabelas.css);
@import url(../components/_formulario.css);
@import url(../components/_buttons.css);

body {

  background: var(--background-color);

  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: var(--text-family);
  font-size: var(--text-size);
  font-weight: var(--running-text-weight);
  line-height: 1.5rem;
  padding: 1rem;
  width: 100%;
 
}

h1 {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}

h3 {
  font-size: var(--subtitle-size);
  font-weight: var(--caption);
  padding-bottom: 1rem;
}

.header {

  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: left;
  padding: 1rem;
  width: 100%;

}

.logo {
  width: 56px;

}

.destaque {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.container {  
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;  
  padding-bottom: 4rem auto;
  width: 100%;
}