.container__formulario--dispesas{
    background-color: transparent;
    border: 0;
    border-bottom:  1px  solid yellow ;
    color: var(--text-color);
    font-size: 1;
    height: 1.5rem;
    padding-left: 1rem;
}

.container__formulario--dispesas:hover{
    border-bottom:  1px  solid darkorange ;
    
}
.container__formulario--dispesas::placeholder{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: var(--light);
}

form{
    text-align: center;
}